<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>La Fabulosa Chigorodó</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/resources/images/logo.png" rel="icon">
  <link href="/resources/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/resources/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/resources/vendor/aos/aos.css" rel="stylesheet">
  <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/resources/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/resources/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/resources/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/style-registro.css">

  <!-- Template Main CSS File -->
  <link href="/resources/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v3.7.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+57 3213646164</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> 24 Horas de la mejor Música</span></i>
      </div>

      <div id="navbar" class="navbar order-last order-lg-0">
        <ul>
        <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
          <li><a class="nav-link scrollto" href="login">Ingresar</a></li>
          <li><a class="nav-link scrollto" href="register">Registro</a></li>
          
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->     
    </div>
  </header><!-- End Header -->

   <!-- ======= Nosotros ======= -->
   <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="/resources/images/about.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>TERMINOS Y CONDICIONES</h3>
          <p class="fst-italic">
            ¡Para La fabulosa Chigorodò eres importante! Por eso hemos implementado y actualizado nuestro Habeas data.
          </p>
          
          <p>
            La Fabulosa Chigorodó se compromete a velar por la integridad de sus diferentes públicos, por esta razón, conforme a la Ley 1581 de 2012 reglamentada mediante el decreto 1377 del 2013 y en la Ley de Privacidad o Habeas Data Colombiana (Ley 1266 de 2008), y en cumplimiento de la protección de datos, reconoce la información de la persona como uno de sus activos más valiosos, en consecuencia, trata todos los contenidos sensibles de sus grupos de interés con el debido cuidado y apego a la ley.
          </p>
          <p>
            Para garantizar el derecho a la seguridad de las partes interesadas, hemos actualizado nuestra Política de Tratamiento de Datos Personales (Habeas data), con el fin de evitar el manejo inadecuado de documentaciones privadas o sin la autorización del propietario. 
          </p>
          <p>
            Asi mismo una vez ingresados los datos y dando clic en "REGISTRARME" usted acepta los terminos y condiciones y el tratamiento de datos por parte de La fabulosa Chigorodó, dichos datos seran usados única y exclusicavamente con fines comerciales por parte nuestra empresa o nuestros socios comerciales.
          </p>
          <p>
            Dudas e inquietudes comuniquese a director@lafabulosachigorodo.com o llamando directamente al numero celular +57 3213646164.
          </p>
        </div>
      </div>

    </div>
  </section><!-- Fin Nosotros -->  


  <!-- ======= Footer ======= -->
  <footer id="footer">
    

    <div class="container">
      <div class="copyright">
       
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/resources/vendor/aos/aos.js"></script>
  <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/resources/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/resources/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/resources/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/resources/js/main.js"></script>

</body>

</html>